@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ead8c4e7;
}
.the-header {
    background-color: #371802e2;
    padding: 10px 0;
    text-align: center;
    height: 35px;
}
.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 30px; /* Adjust this based on your logo size */
    margin-right: 10px;
}

.main-title h4 {
    color: #d7c0a6; /* Light brown text color */
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}
.grid {
    background-color: #fbe9e7; /* Light grey background */
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.grid-name{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.item{
    background-color: #fbe9e7; /* Light peach background */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.item-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.Quant{
    font-weight: 600;
    color: #333;
    margin-right: 10px;
}
.description{
    flex-grow: 1;
}
.coffee-name{
    font-weight: 600;
    margin: 0.3rem;
    text-align: left;
}
.Texture{
    margin: 0;
    color: #757575;
    font-size: 0.9rem;
    text-align: left;
}
.price{
    font-weight: 600;
    color: #333;

}
hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}
.name{
    border-color:#371802e2;
    padding: 8px;
    border-radius: 5px;
    width: 80%;
    margin-right: 10px;
    
}
input{
    color: #371802e2;
    background-color: #fbe9e7;
    padding: auto;
    margin-right: 50px;
}